{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4" style="font-family: 'Montserrat', sans-serif;">Login</h2>
    <form method="post" action="/login" class="mb-4">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>
    {% endif %}
</div>
{% endblock %}
